<h2 class="mb-4">Nova Anotação</h2>

<form method="post">

    <div class="mb-3">
        <label class="form-label">Título</label>
        <input class="form-control" type="text" name="Titulo" />
    </div>

    <div class="mb-3">
        <label class="form-label">Categoria</label>
        <input class="form-control" type="text" name="Categoria" />
    </div>

    <div class="mb-3">
        <label class="form-label">Conteúdo</label>
        <textarea class="form-control" name="Conteudo"></textarea>
    </div>

    <button class="btn btn-success">Salvar</button>
    <a class="btn btn-secondary" href="/Notes">Voltar</a>

</form>

